@using Formazione
@using Formazione.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, cloudscribe.Web.Pagination
<a href="c:\users\riccardo01\source\repos\kipotore\formazionesicurezza\views\_viewimports.cshtml">c:\users\riccardo01\source\repos\kipotore\formazionesicurezza\views\_viewimports.cshtml</a>