@model Formazione.Models.EdizioneCorso

@{
    ViewData["Title"] = "Modifica Edizione Corso";
    Layout = "_Layout";

}

<h1>Modifica</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EdizioneCorsoID" />
            <div class="form-group">
               
                <label asp-for="ProgettoFormativoID" class="control-label"></label>
                <select asp-for="ProgettoFormativoID" class="form-control" asp-items="ViewBag.ProgettoFormativoID"></select>
                <span asp-validation-for="ProgettoFormativoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anno" class="control-label"></label>
                <input asp-for="Anno" class="form-control" />
                <span asp-validation-for="Anno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroEdizione" class="control-label"></label>
                <input asp-for="NumeroEdizione" class="form-control" />
                <span asp-validation-for="NumeroEdizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantitàModuli" class="control-label"></label>
                <input asp-for="QuantitàModuli" class="form-control" />
                <span asp-validation-for="QuantitàModuli" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="form-group mt-3">
    <a asp-action="Index" class="btn btn-secondary" style="background-color: red;">Ritorna alla lista delle Edizioni</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
