USE [Formazione]
GO
/****** Object:  Table [dbo].[UnitaOperative]    Script Date: 14/09/2023 11:22:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitaOperative](
	[unitaoperativa_id] [int] IDENTITY(1,1) NOT NULL,
	[unitaproduttiva_id] [int] NOT NULL,
	[codice] [varchar](10) NOT NULL,
	[descrizione] [varchar](100) NULL,
	[email] [varchar](50) NULL,
	[eliminato] [smallint] NOT NULL,
	[dataorains] [datetime] NOT NULL,
	[IDutenteins] [int] NULL,
	[dataoraultmod] [datetime] NULL,
	[IDutenteultmod] [int] NULL,
	[IDutenteultcanc] [int] NULL,
	[dataoraultcanc] [datetime] NULL,
	[dataoraUltSinc] [datetime](7) NULL,
 CONSTRAINT [PK_UnitaOperative] PRIMARY KEY CLUSTERED 
(
	[unitaoperativa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitaProduttive]    Script Date: 14/09/2023 11:22:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitaProduttive](
	[unitaproduttiva_id] [int] NOT NULL,
	[codice] [varchar](4) NOT NULL,
	[descrizione] [varchar](100) NULL,
	[email] [varchar](50) NULL,
	[eliminato] [smallint] NOT NULL,
	[dataorains] [datetime] NOT NULL,
	[IDutenteins] [int] NULL,
	[dataoraultmod] [datetime] NULL,
	[IDutenteultmod] [int] NULL,
	[IDutentecanc] [int] NULL,
	[dataoracanc] [datetime] NULL,
	[dataoraUltSinc] [datetime](7) NULL,
 CONSTRAINT [PK_UnitaProduttive] PRIMARY KEY CLUSTERED 
(
	[unitaproduttiva_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UnitaOperative] ON 

INSERT [dbo].[UnitaOperative] ([unitaoperativa_id], [unitaproduttiva_id], [codice], [descrizione], [email], [eliminato], [dataorains], [IDutenteins], [dataoraultmod], [IDutenteultmod], [IDutenteultcanc], [dataoraultcanc], [dataoraUltSinc]) VALUES (3, 25, N'DPDP-01', N'DIREZIONE DIPARTIMENTO DELLE DIPENDENZE', NULL, 0, CAST(N'2023-09-14T11:05:32.0000000' AS datetime), NULL, NULL, NULL, NULL, NULL, CAST(N'2023-09-14T11:01:35.6900000' AS datetime))
INSERT [dbo].[UnitaOperative] ([unitaoperativa_id], [unitaproduttiva_id], [codice], [descrizione], [email], [eliminato], [dataorains], [IDutenteins], [dataoraultmod], [IDutenteultmod], [IDutenteultcanc], [dataoraultcanc], [dataoraUltSinc]) VALUES (4, 25, N'DPDP-02', N'S.E.R.T. DDSS 17,19 E 20', NULL, 0, CAST(N'2023-09-14T11:05:32.0000000' AS datetime), NULL, NULL, NULL, NULL, NULL, CAST(N'2023-09-14T11:01:35.6900000' AS datetime))
INSERT [dbo].[UnitaOperative] ([unitaoperativa_id], [unitaproduttiva_id], [codice], [descrizione], [email], [eliminato], [dataorains], [IDutenteins], [dataoraultmod], [IDutenteultmod], [IDutenteultcanc], [dataoraultcanc], [dataoraUltSinc]) VALUES (5, 25, N'DPDP-03', N'S.E.R.T. DIS 12 CASERTA', NULL, 0, CAST(N'2023-09-14T11:05:32.0000000' AS datetime), NULL, NULL, NULL, NULL, NULL, CAST(N'2023-09-14T11:01:35.6900000' AS datetime))
GO
SET IDENTITY_INSERT [dbo].[UnitaOperative] OFF
GO
INSERT [dbo].[UnitaProduttive] ([unitaproduttiva_id], [codice], [descrizione], [email], [eliminato], [dataorains], [IDutenteins], [dataoraultmod], [IDutenteultmod], [IDutentecanc], [dataoracanc], [dataoraUltSinc]) VALUES (25, N'DPDP', N'Dip. dipendenze', NULL, 0, CAST(N'2023-09-04T10:26:10.0000000' AS datetime), NULL, NULL, NULL, NULL, NULL, CAST(N'2023-09-14T11:01:35.6900000' AS datetime))
INSERT [dbo].[UnitaProduttive] ([unitaproduttiva_id], [codice], [descrizione], [email], [eliminato], [dataorains], [IDutenteins], [dataoraultmod], [IDutenteultmod], [IDutentecanc], [dataoracanc], [dataoraUltSinc]) VALUES (26, N'DPPR', N'Dip. prevenzione', NULL, 0, CAST(N'2023-09-04T10:26:10.0000000' AS datetime), NULL, NULL, NULL, NULL, NULL, CAST(N'2023-09-14T11:01:35.6900000' AS datetime))
INSERT [dbo].[UnitaProduttive] ([unitaproduttiva_id], [codice], [descrizione], [email], [eliminato], [dataorains], [IDutenteins], [dataoraultmod], [IDutenteultmod], [IDutentecanc], [dataoracanc], [dataoraUltSinc]) VALUES (27, N'DPSM', N'Dip. salute mentale', NULL, 0, CAST(N'2023-09-04T10:26:10.0000000' AS datetime), NULL, NULL, NULL, NULL, NULL, CAST(N'2023-09-14T11:01:35.6900000' AS datetime))
GO
ALTER TABLE [dbo].[UnitaOperative] ADD  CONSTRAINT [DF_UnitaOperative_eliminato]  DEFAULT ((0)) FOR [eliminato]
GO
ALTER TABLE [dbo].[UnitaOperative]  WITH CHECK ADD  CONSTRAINT [FK_UnitaOperative_UnitaProduttive] FOREIGN KEY([unitaproduttiva_id])
REFERENCES [dbo].[UnitaProduttive] ([unitaproduttiva_id])
GO
ALTER TABLE [dbo].[UnitaOperative] CHECK CONSTRAINT [FK_UnitaOperative_UnitaProduttive]
GO
